@media (min-width: 1025px) {
	/****
	NEW STUFF
	****/
	.responsive_img { 
	max-width: 100%;
	height: auto;
	}
	.h3_title { 
	margin-right: 2%;
	margin-left: 2%;
	}
	.reposition {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 img {
		max-width:45%;
	}
	.nome a{
	text-decoration: none;
	}

	#centerPic{
	padding-top:2%;
	padding-right:5%;
	padding-left:5%;
	padding-bottom:2%;
	}

	.topnav a {
	float: right;
	color: white;
	text-align: center;
	padding: 0.7vw 1vw;
	text-decoration: none;
	margin-top:-4%;
	}

	.topnav a:hover {
	background-color: #ddd;
	color: white;
	}

	.topnav a.active {
	background-color: #4CAF50;
	color: white;
	}

	.topnav-right {
	float: right;
	}
	/*******
	MENU
	*******/

	/*******
	BODY_UTILIZADORES
	*******/
	div.utilizadores {
	margin-right:1%;
	margin-left:10%;
	display:flex;
	flex-wrap:wrap;
	}
	div.img img{
	border: 2px solid #777;
	margin-right:25px;
	margin-left:15px;
	}
	div.nome {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	}
	div.nome a{
	font-size:36px;
	}
	/*******
	BODY_USERS
	*******/
	div#card {
	display:flex;
	flex-wrap:wrap;
	padding-top:2%;
	overflow:auto;
	}
	div.img_float img {
	border: 2px solid #777;
	margin-right:5%;
	margin-left:3%;
	max-width:90%;
	float:left;
	}
	div.user {
	margin-right:1%;
	margin-left:1%;
	display:flex;
	flex-wrap:wrap;
	}
	div#info {
	margin-right:1%;
	margin-left:1%;
	}
	div#corpo_2 {
	margin-left:2%;
	margin-right:2%;
	}
	#footer{
	font-size:2.5vw;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	/****
	NEW STUFF
	****/
	.responsive_img { /*** Imagens responsivas - elimina comentário after ***/
	max-width: 100%;
	height: auto;
	}
	.h3_title { /*** Dá uma margem nos subscritos e atividade - elimina comentário after ***/
	margin-right: 2%;
	margin-left: 2%;
	}
	.reposition {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 img {
		max-width:27%;
	}
	#nome a{
	text-decoration: none;
	}

	#centerPic{
	padding-top:2%;
	padding-right:5%;
	padding-left:5%;
	padding-bottom:2%;
	}

	.topnav a {
	float: right;
	color: white;
	text-align: center;
	padding: 0.9vw 1.4vw;
	text-decoration: none;
	font-size: 2.5vw;
	margin-top:-4%;
	}

	.topnav a:hover {
	background-color: #ddd;
	color: white;
	}

	.topnav a.active {
	background-color: #4CAF50;
	color: white;
	}

	.topnav-right {
	float: right;
	}
	/*******
	MENU
	*******/

	/*******
	BODY_UTILIZADORES
	*******/
	div.utilizadores {
	margin-right:1%;
	margin-left:20%;
	display:flex;
	flex-wrap:wrap;
	}
	div.img img{
	border: 2px solid #777;
	margin-right:25px;
	margin-left:15px;
	}
	div#nome {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	}
	/*******
	BODY_USERS
	*******/
	div#card {
	display:flex;
	flex-wrap:wrap;
	padding-top:2%;
	overflow:auto;
	}
	div.img_float img {
	border: 2px solid #777;
	margin-right:5%;
	margin-left:3%;
	max-width:45%;
	float:left;
	}
	div.user {
	margin-right:1%;
	margin-left:1%;
	display:flex;
	flex-wrap:wrap;
	}
	div.user h1{
	padding-right:25%
	}
	div#info {
	margin-right:1%;
	margin-left:1%;
	}
	div#corpo_2 {
	margin-left:2%;
	margin-right:2%;
	}
	#footer{
	font-size:2.5vw;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/****
	NEW STUFF
	****/
	.responsive_img { /*** Imagens responsivas - elimina comentário after ***/
	max-width: 100%;
	height: auto;
	}
	.h3_title { /*** Dá uma margem nos subscritos e atividade - elimina comentário after ***/
	margin-right: 2%;
	margin-left: 2%;
	}
	.reposition {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 img {
		max-width:27%;
	}

	#nome a{
	text-decoration: none;
	}

	#centerPic{
	padding-top:2%;
	padding-right:5%;
	padding-left:5%;
	padding-bottom:2%;
	}

	.topnav a {
	float: right;
	color: white;
	text-align: center;
	padding: 1vw 1.7vw;
	text-decoration: none;
	font-size: 2.7vw;
	margin-top:-4%;
	}

	.topnav a:hover {
	background-color: #ddd;
	color: white;
	}

	.topnav a.active {
	background-color: #4CAF50;
	color: white;
	}

	.topnav-right {
	float: right;
	}
	/*******
	MENU
	*******/

	/*******
	BODY_UTILIZADORES
	*******/
	div.utilizadores {
	margin-right:1%;
	margin-left:20%;
	display:flex;
	flex-wrap:wrap;
	}
	div.img img{
	border: 2px solid #777;
	margin-right:25px;
	margin-left:15px;
	}
	div.nome {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	}
	/*******
	BODY_USERS
	*******/
	div#card {
	display:flex;
	flex-wrap:wrap;
	padding-top:2%;
	overflow:auto;
	}
	div.img_float img {
	border: 2px solid #777;
	margin-right:10px;
	margin-left:10px;
	max-width:45%;
	float:left;
	}
	div.user {
	margin-right:1%;
	margin-left:1%;
	display:flex;
	flex-wrap:wrap;
	}
	div.user h1{
	padding-right:25%
	}

	div#info {
	margin-right:1%;
	margin-left:1%;
	}
	div#corpo_2 {
	margin-left:2%;
	margin-right:2%;
	}
	#footer{
	font-size:2.5vw;
	}
}
@media (min-width: 481px) and (max-width: 767px) {

	.responsive_img {
	max-width: 100%;
	height: auto;
	}
	.h3_title {
	margin-right: 2%;
	margin-left: 2%;
	}
	.reposition {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 img {
		max-width:27%;
	}

	.nome{
	text-decoration: none;
	}

	#centerPic{
	padding-top:2%;
	padding-right:5%;
	padding-left:5%;
	padding-bottom:2%;
	}

	.topnav a {
	float: right;
	color: white;
	text-align: center;
	padding: 1.8vw 2.5vw;
	text-decoration: none;
	font-size: 3vw;
	margin-top:-4%;
	}

	.topnav a:hover {
	background-color: #ddd;
	color: white;
	}

	.topnav a.active {
	background-color: #4CAF50;
	color: white;
	}

	.topnav-right {
	float: right;
	}
	/*******
	BODY_UTILIZADORES
	*******/
	div.utilizadores {
	margin-right:1%;
	margin-left:20%;
	display:flex;
	flex-wrap:wrap;
	}
	div.img img{
	border: 2px solid #777;
	margin-right:25px;
	margin-left:15px;
	}
	div.nome {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	}
	/*******
	BODY_USERS
	*******/
	div#card {
	display:flex;
	flex-wrap:wrap;
	padding-top:2%;
	overflow:auto;
	}
	div.img_float img {
	border: 2px solid #777;
	margin-right:10px;
	margin-left:10px;
	max-width:45%;
	float:left;
	}
	div.user {
	margin-right:1%;
	margin-left:1%;
	display:flex;
	flex-wrap:wrap;
	}
	div.user h1{
	padding-right:25%
	}
	div#info {
	margin-right:1%;
	margin-left:1%;
	}
	div#corpo_2 {
	margin-left:2%;
	margin-right:2%;
	}
	#footer{
	font-size:2.5vw;
	}
}
@media (max-width: 480px) {
	h1{
	text-align:center;
	}
	.responsive_img { 
	max-width: 100%;
	height: auto;
	}
	.h3_title { 
	margin-right: 2%;
	margin-left: 2%;
	}
	.reposition {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 {
	margin-right:4%;
	margin-left:1%;
	}
	#reposition_2 img {
		max-width:20%;
	}
	.nome a{
	text-decoration: none;
	}
	#centerPic{
	padding-top:2%;
	padding-right:5%;
	padding-left:5%;
	padding-bottom:2%;
	}
	.topnav a {
	float: right;
	color: white;
	text-align: center;
	padding: 1.2vw 2vw;
	text-decoration: none;
	font-size: 3.7vw;
	margin-top:-2%;
	}
	.topnav a:hover {
	background-color: #ddd;
	color: white;
	}
	.topnav a.active {
	background-color: #4CAF50;
	color: white;
	}
	.topnav-right {
	float: right;
	}
	/*******
	MENU
	*******/

	/*******
	BODY_UTILIZADORES
	*******/
	div.utilizadores {
	margin-right:1%;
	margin-left:20%;
	display:flex;
	flex-wrap:wrap;
	}
	div.img img{
	border: 2px solid #777;
	margin-right:25px;
	margin-left:15px;
	}
	div.nome {
	padding-top: 15%;
	padding-bottom: 5%;
	text-align: center;
	}
	div.nome a{
	font-size:16px;
	}
	/*******
	BODY_USERS
	*******/
	div#card {
	display:flex;
	flex-wrap:wrap;
	padding-top:2%;
	overflow:auto;
	}
	div.img_float img {
	border: 2px solid #777;
	margin-right:10px;
	margin-left:10px;
	max-width:40%;
	float:left;
	}
	div.user {
	margin-right:1%;
	margin-left:1%;
	display:flex;
	flex-wrap:wrap;
	}
	div.user h1{
	padding-right:25%
	}
	div#info {
	margin-right:1%;
	margin-left:1%;
	}
	div#corpo_2 {
	margin-left:2%;
	margin-right:2%;
	}
	#footer{
	font-size:2.5vw;
	}
}